[ default]
config_diagnostice = 1

[ req ]
default_bits 		= 2048
default_md		= sha256
distinguished_name	= dn
req_extensions		= req_ext
prompt			= no

[ dn ]
countryName		= US
stateOrProvinceName	= Tennessee
localityName		= Clarksville
organizationName	= LocalDev
commonName		= localhost
emailAddress		= admin@myserver.local

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = webhook.cosign-system.svc
DNS.3 = myserver.local
IP.1  = 127.0.0.1
IP.2  = ::1